<a href="https://colab.research.google.com/github/VED0905/Product-Dissection-Relational-Database/blob/main/Copy_of_Applied_Statistics_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Customer Purchase Behavior Analysis using Descriptive Statistics

##Problem Statement

üîç **Problem Statement**:

Welcome to the Probability and Statistics project! üìäüîç In this exciting journey, you'll get the chance to apply the concepts you've learned in probability theory and statistics to analyze a real-world dataset. This project is your opportunity to dive deep into the world of data analysis and gain practical experience with the tools and techniques you've been learning. üöÄ

üéØ **Objective**:

Your mission is to analyze the provided dataset containing customer information and purchasing behavior to make informed decisions. Your goal is to identify patterns, trends, and correlations that will help your company optimize its marketing efforts and increase offer acceptance rates. üéâ

##About the Dataset



Here's the link to the [dataset](https://docs.google.com/spreadsheets/d/12ln9iTNcVNOMYi_AU-OczKpa_KIP8XyVbsjk81Na8Yk/edit?usp=sharing)


This data was gathered during last year's campaign.
Data description is as follows;

1. Response (target) - 1 if customer accepted the offer in the last campaign, 0 otherwise
1. ID - Unique ID of each customer
1. Year_Birth - Age of the customer
1. Complain - 1 if the customer complained in the last 2 years
1. Dt_Customer - date of customer's enrollment with the company
1. Education - customer's level of education
1. Marital - customer's marital status
1. Kidhome - number of small children in customer's household
1. Teenhome - number of teenagers in customer's household
1. Income - customer's yearly household income
1. MntFishProducts - the amount spent on fish products in the last 2 years
1. MntMeatProducts - the amount spent on meat products in the last 2 years
1. MntFruits - the amount spent on fruits products in the last 2 years
1. MntSweetProducts - amount spent on sweet products in the last 2 years
1. MntWines - the amount spent on wine products in the last 2 years
1. MntGoldProds - the amount spent on gold products in the last 2 years
1. NumDealsPurchases - number of purchases made with discount
1. NumCatalogPurchases - number of purchases made using catalog (buying goods to be shipped through the mail)
1. NumStorePurchases - number of purchases made directly in stores
1. NumWebPurchases - number of purchases made through the company's website
1. NumWebVisitsMonth - number of visits to company's website in the last month
1. Recency - number of days since the last purchase

#**Load The Data Set**

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path =  "/content/drive/MyDrive/Superstore Marketing Data - Sheet1.csv"
df = pd.read_csv(path)

##Task 1 - Basic CleanUp

- **Clean and preprocess the dataset (handling missing values, data types, etc.).**

- **Analyze the distribution of customer demographics (age, education, marital status) using descriptive statistics and visualizations.**

In [6]:
df.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,########,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,########,0,6,...,11,0,34,2,3,1,2,7,1,0

In [7]:
df.columns

Index(['Id', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'Response', 'Complain'],
      dtype='object')

In [8]:
df.describe()

,Id,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,27.062946,44.021875,2.325000,4.084821,2.662054,5.790179,5.316518,0.149107,0.009375
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,41.280498,52.167439,1.932238,2.778714,2.923101,3.250958,2.426645,0.356274,0.096391
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,1.000000,9.000000,1.000000,2.000000,0.000000,3.000000,3.000000,0.000000,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,8.000000,24.000000,2.000000,4.000000,2.000000,5.000000,6.000000,0.000000,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,33.000000,56.000000,3.000000,6.000000,4.000000,8.000000,7.000000,0.000000,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,263.000000,362.000000,15.000000,27.000000,28.000000,13.000000,20.000000,1.000000,1.000000

In [12]:
df.dtypes

Id                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
Response                 int64
Complain                 int64
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  Response             2240 non-null   int64
 21  Complain             2240 non-null   int64
dtypes: float64(1), int64(18), object(3)
memory usage: 385.1+ KB

In [14]:
df.isna().any()

Id                     False
Year_Birth             False
Education              False
Marital_Status         False
Income                  True
Kidhome                False
Teenhome               False
Dt_Customer            False
Recency                False
MntWines               False
MntFruits              False
MntMeatProducts        False
MntFishProducts        False
MntSweetProducts       False
MntGoldProds           False
NumDealsPurchases      False
NumWebPurchases        False
NumCatalogPurchases    False
NumStorePurchases      False
NumWebVisitsMonth      False
Response               False
Complain               False
dtype: bool

In [15]:
df.isna()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2236,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2237,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2238,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2239,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
df.isnull().sum()

Id                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
Response                0
Complain                0
dtype: int64

#We can handle all the missing values by droping all the rows that have null values.

In [19]:
df.dropna()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,########,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,########,0,6,...,11,0,34,2,3,1,2,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,66476.0,0,1,########,99,372,...,47,48,78,2,5,2,11,4,0,0
2236,5263,1977,2n Cycle,Married,31056.0,1,0,1/22/2013,99,5,...,3,8,16,1,1,0,3,8,0,0
2237,22,1976,Graduation,Divorced,46310.0,1,0,########,99,185,...,15,5,14,2,6,1,5,8,0,0
2238,528,1978,Graduation,Married,65819.0,0,0,11/29/2012,99,267,...,149,165,63,1,5,4,10,3,0,0
2239,4070,1969,PhD,Married,94871.0,0,2,########,99,169,...,188,0,144,1,8,5,4,7,1,0

In [20]:
df.isnull().sum()

Id                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
Response                0
Complain                0
dtype: int64

#Or can handle the null values with 0

In [21]:
df.fillna(value=0, inplace=True)

In [22]:
df.isnull().sum()

Id                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
Response               0
Complain               0
dtype: int64

#Another method of filling null values is "To replace them with mean values."

In [23]:
#Another method of filling null values is "To replace them with mean values."
df['Income'].fillna(df['Income'].mean(), inplace=True)

/tmp/ipython-input-239297384.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income'].fillna(df['Income'].mean(), inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  Response             2240 non-null   int64
 21  Complain             2240 non-null   int64
dtypes: float64(1), int64(18), object(3)
memory usage: 385.1+ KB

In [25]:
df.isna().sum()

Id                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
Response               0
Complain               0
dtype: int64

#Identify columns with numeric data types.

In [27]:
df.select_dtypes(include='number')

,Id,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,84835.0,0,0,0,189,104,379,111,189,218,1,4,4,6,1,1,0
1,1,1961,57091.0,0,0,0,464,5,64,7,0,37,1,7,3,7,5,1,0
2,10476,1958,67267.0,0,1,0,134,11,59,15,2,30,1,3,2,5,2,0,0
3,1386,1967,32474.0,1,1,0,10,0,1,0,0,0,1,1,0,2,7,0,0
4,5371,1989,21474.0,1,0,0,6,16,24,11,0,34,2,3,1,2,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,66476.0,0,1,99,372,18,126,47,48,78,2,5,2,11,4,0,0
2236,5263,1977,31056.0,1,0,99,5,10,13,3,8,16,1,1,0,3,8,0,0
2237,22,1976,46310.0,1,0,99,185,2,88,15,5,14,2,6,1,5,8,0,0
2238,528,1978,65819.0,0,0,99,267,38,701,149,165,63,1,5,4,10,3,0,0
2239,4070,1969,94871.0,0,2,99,169,24,553,188,0,144,1,8,5,4,7,1,0

#We have total 19 columns which have numeric data.

#Now our task is to calculated statistics such as mean, median, variance, and standard deviation for each relevant numerical variable.

#**Mean:** The sum of all values divided by the number of observations ().

In [31]:
# Mean of all numeric columns
column_mean = df.mean(numeric_only=True)

In [32]:
column_mean

Id                      5592.159821
Year_Birth              1968.805804
Income                 51687.459375
Kidhome                    0.444196
Teenhome                   0.506250
Recency                   49.109375
MntWines                 303.935714
MntFruits                 26.302232
MntMeatProducts          166.950000
MntFishProducts           37.525446
MntSweetProducts          27.062946
MntGoldProds              44.021875
NumDealsPurchases          2.325000
NumWebPurchases            4.084821
NumCatalogPurchases        2.662054
NumStorePurchases          5.790179
NumWebVisitsMonth          5.316518
Response                   0.149107
Complain                   0.009375
dtype: float64

#**Median:**
 The middle value when data is sorted. If
 is odd, it is the middle value; if
 is even, it is the average of the two middle values.

In [33]:
df.median(numeric_only=True)

Id                      5458.5
Year_Birth              1970.0
Income                 51075.0
Kidhome                    0.0
Teenhome                   0.0
Recency                   49.0
MntWines                 173.5
MntFruits                  8.0
MntMeatProducts           67.0
MntFishProducts           12.0
MntSweetProducts           8.0
MntGoldProds              24.0
NumDealsPurchases          2.0
NumWebPurchases            4.0
NumCatalogPurchases        2.0
NumStorePurchases          5.0
NumWebVisitsMonth          6.0
Response                   0.0
Complain                   0.0
dtype: float64

#**Variance:**
 The average of the squared differences from the Mean. It measures dispersion, with sample variance usually divided by
 to reduce bias.

In [36]:
df[['Income', 'Recency' , 'MntWines' , 'MntFruits', 'MntGoldProds']].var()

Income          6.558384e+08
Recency         8.388237e+02
MntWines        1.132978e+05
MntFruits       1.581926e+03
MntGoldProds    2.721442e+03
dtype: float64

#**Standard Deviation:**

 The square root of the variance, representing the typical distance of data points from the mean in the same units as the data.

In [38]:
df.std(numeric_only=True)

Id                      3246.662198
Year_Birth                11.984069
Income                 25609.342730
Kidhome                    0.538398
Teenhome                   0.544538
Recency                   28.962453
MntWines                 336.597393
MntFruits                 39.773434
MntMeatProducts          225.715373
MntFishProducts           54.628979
MntSweetProducts          41.280498
MntGoldProds              52.167439
NumDealsPurchases          1.932238
NumWebPurchases            2.778714
NumCatalogPurchases        2.923101
NumStorePurchases          3.250958
NumWebVisitsMonth          2.426645
Response                   0.356274
Complain                   0.096391
dtype: float64

##Task 2 - Descriptive Statistics üìä

- **Calculate measures of central tendency (mean, median, mode) and measures of dispersion (variance, standard deviation) for key variables. Identify and handle outliers if necessary.**

In [39]:
import pandas as pd
import numpy as np
from scipy import stats


def analyze_data(df, column):
    print(f"--- Analysis for: {column} ---")

    # Calculate Central Tendency
    mean_val = df[column].mean()
    median_val = df[column].median()
    mode_val = df[column].mode()[0]

    # Calculate Dispersion
    variance_val = df[column].var()
    std_dev_val = df[column].std()

    print(f"Mean: {mean_val:.2f} | Median: {median_val} | Mode: {mode_val}")
    print(f"Variance: {variance_val:.2f} | Std Dev: {std_dev_val:.2f}")

    # 2. Identify Outliers using IQR
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)][column].tolist()
    print(f"Detected Outliers: {outliers}")

    # 3. Handle Outliers (Capping/Winsorizing)
    # We replace outliers with the upper/lower bounds to keep data size consistent
    df_clean = df.copy()
    df_clean[column] = np.where(df_clean[column] > upper_bound, upper_bound,
                       np.where(df_clean[column] < lower_bound, lower_bound, df_clean[column]))

    print(f"New Mean (after capping): {df_clean[column].mean():.2f}\n")
    return df_clean

# Run analysis for each column
for col in df.columns:
    df = analyze_data(df, col)

--- Analysis for: Id ---
Mean: 5592.16 | Median: 5458.5 | Mode: 0
Variance: 10540815.43 | Std Dev: 3246.66
Detected Outliers: []
New Mean (after capping): 5592.16

--- Analysis for: Year_Birth ---
Mean: 1968.81 | Median: 1970.0 | Mode: 1976
Variance: 143.62 | Std Dev: 11.98
Detected Outliers: [1893, 1899, 1900]
New Mean (after capping): 1968.85

--- Analysis for: Education ---

TypeError: Could not convert string 'GraduationGraduationGraduationGraduationGraduationPhD2n CycleGraduationPhDPhD2n CycleMasterPhDGraduationGraduationGraduationGraduationPhD2n CycleMasterMasterMasterMasterPhDGraduationMasterGraduationGraduationPhDGraduationPhDGraduationPhDPhDGraduationPhD2n CycleMasterPhDGraduationGraduationPhD2n CycleGraduation2n CycleGraduationGraduationMasterGraduationGraduation2n CycleMaster2n CycleGraduationBasicGraduationMasterPhDGraduationGraduationMasterMasterPhDMasterMasterGraduationMaster2n CyclePhDPhDPhD2n CycleMasterGraduationGraduationGraduationGraduationPhDMasterGraduationGraduationGraduationGraduationPhDGraduation2n Cycle2n CycleGraduationPhDGraduationGraduationPhDGraduationPhDGraduationMasterMasterMasterGraduationPhDPhDGraduationPhDPhDPhDMasterMasterPhDPhD2n CycleGraduationGraduationGraduationGraduationMasterGraduationMasterMasterMasterGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationMasterMasterGraduationGraduationMasterGraduationGraduationPhDGraduationGraduationPhD2n CycleGraduationGraduation2n CycleGraduationGraduationGraduationMasterBasicBasicPhDMasterMasterGraduationGraduationPhDPhDPhDMasterMasterMasterMasterGraduationGraduationGraduationGraduationGraduationBasicPhDPhDGraduation2n CycleGraduationMaster2n CycleGraduationGraduationMasterMasterGraduationGraduation2n CycleGraduationGraduationBasicPhDGraduationPhDGraduationMasterPhDGraduationGraduationPhD2n CyclePhDGraduationGraduationPhDPhDGraduationPhDPhDGraduationGraduationGraduationGraduationGraduation2n CyclePhDGraduationPhDPhDGraduationGraduationPhDGraduationGraduationMasterMasterMasterGraduationMasterPhDPhDPhDMasterPhDGraduationGraduationGraduationMasterGraduationGraduationGraduationPhDMaster2n CycleGraduation2n CycleGraduationBasicGraduationPhD2n CycleGraduation2n Cycle2n CyclePhDGraduationPhDPhDMasterGraduationGraduationGraduationMasterMasterGraduationGraduationGraduationGraduationGraduationGraduationGraduationPhDMasterGraduationMasterGraduationGraduationGraduationMaster2n CyclePhDGraduationPhDMasterGraduationPhDGraduationGraduationGraduationPhDPhDPhDMasterGraduationGraduationGraduationPhDMasterGraduationGraduationGraduationGraduationMasterPhDGraduation2n CycleGraduationGraduationMasterMasterMasterPhDMasterGraduationMasterGraduationMasterPhDMasterGraduationMaster2n Cycle2n CycleGraduationPhDPhDBasicMasterGraduationBasic2n CycleGraduation2n CycleGraduationMasterGraduationPhDPhDGraduationGraduationGraduationGraduationGraduationGraduationPhDPhDGraduationGraduationGraduationPhD2n CyclePhDMasterGraduation2n Cycle2n CycleGraduationGraduationGraduationGraduationGraduationGraduationMasterMaster2n CycleGraduationPhD2n CycleGraduationPhDGraduationGraduationGraduationMasterGraduationPhDPhDPhDMasterPhD2n CycleGraduationGraduationMasterGraduationGraduationMaster2n CycleGraduationGraduationMaster2n CyclePhDMaster2n CycleGraduationGraduationPhDGraduationGraduationGraduationGraduationPhDPhD2n CyclePhDMasterGraduationPhDGraduationPhDGraduationMasterGraduationGraduationPhD2n CyclePhDGraduationGraduationMaster2n CycleGraduationGraduationGraduationBasicPhD2n CycleGraduationMaster2n CycleGraduationGraduationGraduationMaster2n CycleGraduationGraduationGraduationGraduationGraduationMasterGraduation2n CycleMasterGraduationPhDGraduationGraduationPhDMasterGraduationGraduationGraduationPhDPhDPhDGraduationPhDGraduation2n CycleGraduationPhDGraduationGraduationMasterPhDPhDGraduationPhDMasterGraduation2n CycleGraduationGraduationGraduationMasterGraduationMasterGraduationPhDGraduationGraduationGraduationGraduationPhDPhDPhDGraduationGraduationMasterGraduationMasterMasterGraduationGraduationGraduationGraduationGraduationGraduationPhDMasterGraduationGraduationGraduationPhDMasterPhDPhDPhDGraduationGraduationPhDGraduationMasterGraduationPhDPhDPhDPhDGraduation2n CyclePhDPhDGraduationMasterMasterMasterGraduationGraduationGraduationGraduationGraduationPhDPhDGraduationGraduationBasicGraduationGraduationGraduationPhDPhDGraduationPhDPhDBasicMasterMasterGraduationPhDPhDGraduationGraduationMasterMasterPhD2n CyclePhDMasterMasterGraduationGraduationGraduation2n CycleMasterGraduationGraduationPhDPhD2n CycleMasterGraduationMasterMasterGraduationGraduationPhDPhDMasterGraduationPhDGraduationGraduationMasterGraduationMasterGraduationPhDGraduationPhDGraduationGraduation2n CycleGraduationGraduationMasterMaster2n CycleBasicGraduationGraduationGraduationGraduationGraduationPhDGraduationGraduationGraduationBasicMasterGraduationPhDMasterGraduationMasterGraduationGraduationGraduationGraduationGraduationMaster2n Cycle2n CycleMaster2n CycleGraduationGraduationGraduationGraduationGraduationGraduationPhDGraduation2n Cycle2n CyclePhDPhDGraduationGraduationGraduationGraduation2n CyclePhDGraduationGraduationMaster2n CycleGraduationGraduationPhDMasterGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationPhDGraduation2n CycleGraduation2n CyclePhD2n CycleGraduationGraduationGraduationPhDGraduationGraduationMasterGraduationMasterGraduationGraduationMasterMasterGraduation2n CycleBasicGraduationGraduationMasterMasterPhDGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationBasicGraduationPhDGraduationGraduationGraduationGraduation2n CycleGraduationGraduation2n CycleGraduationMasterGraduationGraduationGraduationMasterGraduationPhDGraduationMasterGraduationPhDGraduationGraduationGraduationMasterGraduationGraduationGraduationMaster2n CycleGraduationGraduationGraduationGraduationPhDGraduationGraduationGraduationGraduationGraduationPhDGraduation2n CyclePhDPhDPhDGraduation2n CycleGraduationBasicGraduation2n CycleGraduationGraduation2n CyclePhDPhD2n CycleGraduationPhDPhDGraduationPhDGraduationGraduationGraduationGraduation2n CycleGraduationGraduationGraduation2n CycleMasterGraduationGraduationMasterMasterMaster2n CycleGraduationGraduationPhDGraduationMasterGraduationGraduationGraduation2n CycleGraduationPhDMasterMasterPhDGraduationGraduationGraduationGraduationMasterMasterMasterBasicGraduation2n CycleGraduationGraduationGraduationGraduationGraduationMasterMasterGraduationPhDGraduation2n CycleGraduationMasterGraduationGraduationGraduationGraduationGraduationGraduationMasterGraduationPhDPhDGraduationPhDPhDMasterPhDBasicGraduationPhDGraduationGraduationPhDPhDPhDGraduationMasterGraduationMasterGraduationGraduationGraduation2n CyclePhDPhDPhDPhDPhDGraduationPhD2n CycleMasterGraduationGraduationGraduationGraduationGraduationMasterMasterPhDGraduationGraduationBasicPhDPhDGraduationGraduationGraduationPhDGraduationGraduationPhDGraduationGraduationMaster2n CycleMasterGraduationGraduationPhDPhD2n CyclePhD2n Cycle2n CyclePhDGraduationGraduationPhDGraduationPhDGraduationGraduationGraduationGraduationPhDGraduationGraduationMasterGraduationPhDPhD2n CyclePhDMasterGraduationPhDPhDMaster2n Cycle2n CyclePhDPhDMasterMasterMasterGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationBasicPhDGraduationGraduationPhDPhDGraduationGraduationGraduation2n CycleGraduationPhDBasic2n Cycle2n Cycle2n CycleMasterMasterGraduationMasterPhDBasicGraduationPhDPhDGraduationMasterGraduationGraduationPhDGraduationGraduationMaster2n Cycle2n CycleMaster2n CyclePhDBasicMasterMasterGraduationGraduationGraduation2n CycleGraduationGraduationPhDPhDPhDGraduationPhDPhDGraduationPhDPhDPhDGraduationGraduationPhDGraduationGraduationMasterMasterPhDBasicGraduationPhD2n Cycle2n Cycle2n CycleGraduationMasterPhD2n CycleGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationPhDGraduation2n CycleGraduationGraduationGraduationMasterGraduationGraduationGraduationGraduationPhDMasterGraduationGraduationGraduationMaster2n CycleGraduationGraduationGraduationGraduationMasterGraduationPhDPhDGraduationGraduationPhDMasterGraduation2n Cycle2n CycleGraduationGraduationGraduationBasicGraduationGraduationPhDMasterGraduationGraduationGraduationGraduationGraduationPhDMasterGraduationGraduationGraduationMasterGraduationPhDPhDMasterGraduationBasicBasicGraduationGraduationPhDPhDPhDPhDMasterMasterGraduationPhDGraduationGraduationGraduationGraduationMasterMasterGraduationPhDPhDPhDMasterMasterGraduationGraduationGraduationGraduationGraduationPhDPhDGraduationGraduationGraduationGraduationMaster2n Cycle2n CycleGraduationGraduationBasicGraduationGraduationGraduationGraduationPhDGraduationGraduationGraduationMasterMasterGraduationGraduationGraduationGraduationBasicMasterGraduationGraduationPhDPhDPhDGraduationGraduationPhDPhD2n CycleGraduationMasterPhD2n CyclePhDMasterMasterGraduationGraduationPhDGraduationGraduationGraduationGraduationGraduationGraduation2n CycleMasterMasterGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationPhDPhDGraduationGraduation2n CycleGraduationGraduation2n CycleMasterGraduationGraduationGraduationBasicGraduationMasterGraduationGraduationGraduationMasterGraduationPhD2n CycleBasicGraduationGraduationGraduationGraduationPhDPhDMasterMasterMasterPhDMasterBasicGraduationBasicBasicMaster2n CyclePhDGraduationGraduationGraduation2n CycleMasterMaster2n CycleMasterGraduationGraduationPhDMasterGraduationPhDPhDMasterPhDGraduation2n CycleGraduationGraduationPhDPhDPhDGraduationGraduationPhD2n Cycle2n CycleGraduationGraduationGraduationPhDPhDGraduation2n CyclePhDGraduationMasterPhD2n Cycle2n CycleGraduationGraduationGraduationGraduationGraduationGraduation2n CyclePhDMasterGraduationGraduationGraduationGraduationGraduationGraduationMasterPhD2n CycleMasterGraduationPhDMasterGraduationGraduationGraduationPhDGraduationGraduationPhDPhDPhDMasterGraduationGraduationMasterPhDMaster2n CyclePhDMasterMasterGraduationPhDPhDMasterPhDGraduationGraduationGraduationGraduationGraduationGraduationMasterMasterGraduationGraduationPhDGraduationGraduationGraduationMaster2n CyclePhDGraduationGraduationGraduationPhD2n CyclePhD2n CyclePhDGraduationGraduationGraduationPhDGraduationGraduationGraduationGraduationGraduationGraduationGraduationPhDMasterPhDPhDPhDMasterPhDGraduationGraduationPhDGraduationGraduationPhDGraduationGraduationGraduationGraduationGraduationBasicGraduationGraduationPhDGraduationMasterPhDGraduationGraduationMasterGraduationGraduationGraduationPhDGraduationGraduationBasicPhDPhDGraduationPhD2n CycleMasterGraduationMasterMasterGraduationGraduationMasterPhDGraduationGraduationPhDGraduationPhDMasterGraduationGraduationPhDMasterPhDMasterMasterGraduation2n CyclePhDPhDGraduationGraduationGraduationGraduationGraduationGraduationGraduationMasterGraduation2n CycleGraduationGraduationGraduationGraduationGraduation2n CyclePhDMasterMasterGraduationGraduationMasterPhDPhDGraduationGraduationGraduationGraduationGraduationGraduationPhDPhDGraduationMasterPhDPhDPhDPhDPhDPhDMasterGraduationGraduationMasterGraduationGraduationGraduation2n CycleGraduationPhDBasicPhDPhDGraduationGraduationGraduationPhDGraduationPhDPhDPhDGraduationMasterMasterMasterMasterGraduationMasterMasterMasterMasterMasterMasterGraduationBasicPhDPhDGraduationGraduationGraduationGraduationMasterGraduationGraduationGraduationMasterGraduationPhDGraduationGraduationGraduationMasterGraduationMasterMasterGraduation2n Cycle2n CycleGraduationGraduationPhDGraduationBasicPhDPhDGraduationGraduationPhDGraduationGraduationGraduationGraduation2n CyclePhDGraduationMasterMasterGraduationGraduationGraduationGraduationGraduationGraduationPhDPhDMasterPhDGraduationGraduationMasterPhDGraduationPhDMasterGraduationGraduationGraduationMasterMasterBasicGraduationGraduationGraduationGraduationGraduationGraduationGraduationPhDGraduationPhDGraduationGraduationGraduationMasterGraduationMaster2n CyclePhDGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationPhDMasterGraduationPhDGraduationGraduationMasterGraduationGraduationGraduationGraduationGraduationPhDPhDGraduationBasicGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationMasterGraduationMasterMasterGraduationGraduationGraduationPhDPhDPhDGraduationGraduationGraduationPhDPhDGraduationGraduationPhDGraduationPhDGraduationBasic2n CyclePhDMasterGraduationGraduationPhDPhDGraduationPhDMasterGraduationGraduationPhD2n Cycle2n CycleGraduationMasterGraduationMasterMasterPhDPhDPhDGraduationPhDGraduationPhDPhDGraduationGraduationGraduationGraduationGraduationPhDPhDGraduationPhDMasterGraduationPhDGraduation2n CyclePhDPhD2n CyclePhDGraduationPhDGraduation2n CyclePhDGraduationGraduationPhDMasterPhDGraduationMasterGraduationPhDPhDMasterGraduationGraduationGraduationGraduationPhDGraduationGraduationGraduationGraduationGraduationPhDPhDMasterMasterMasterMasterPhD2n CycleMasterPhDGraduationGraduation2n CycleGraduationPhDMasterGraduationGraduationMasterGraduationGraduationGraduationMasterPhDGraduationGraduationGraduationGraduationPhDGraduationGraduationGraduationGraduationGraduationGraduation2n CycleGraduationMasterGraduation2n Cycle2n CyclePhD2n CyclePhDGraduationBasicGraduation2n CycleGraduationGraduationPhDGraduation2n CycleGraduationGraduationGraduation2n CycleGraduationGraduationBasicMaster2n CycleGraduationGraduationGraduationGraduationGraduation2n CycleGraduationPhDGraduationMasterMasterGraduationGraduationGraduationGraduationGraduationGraduationPhDPhDMasterGraduationGraduationPhDGraduationGraduationPhDGraduationGraduationMasterMasterGraduationGraduationGraduationGraduationGraduationGraduationMasterMasterGraduationGraduation2n Cycle2n CycleGraduationGraduationPhDGraduationPhDMasterGraduationGraduationGraduation2n CycleGraduation2n CycleGraduationGraduationGraduationPhDGraduationMasterBasicBasicMasterPhDMasterMasterMasterGraduationMasterMasterGraduationPhDMasterPhD2n Cycle2n CyclePhD2n CycleMasterPhDPhDGraduationGraduationGraduationGraduation2n CycleGraduationGraduationPhDMasterPhDBasicPhDGraduationGraduationMasterGraduationMasterGraduationPhD2n CyclePhDPhDGraduationGraduationPhDGraduationPhDGraduationMasterPhDMasterMasterGraduationPhDGraduationGraduationGraduationGraduation2n CycleGraduationPhDGraduationGraduationPhDPhDGraduationPhDGraduationGraduationGraduationPhDGraduationGraduationBasicPhD2n Cycle2n CycleGraduationMasterPhD2n CycleGraduationPhDGraduationGraduationGraduationMasterGraduationPhDGraduationGraduationPhDGraduationGraduationGraduationGraduationGraduationGraduationPhDMasterGraduationGraduationGraduationGraduationMasterGraduationGraduationGraduationGraduationGraduationPhD2n CycleGraduationMaster2n CycleGraduationMasterGraduationGraduationGraduation2n CycleMasterGraduationGraduationGraduationPhDGraduationGraduationGraduationMasterPhDPhD2n CycleMasterGraduationMasterGraduationMasterMasterGraduationPhDPhDMasterGraduationMasterGraduationGraduationMasterGraduationPhDPhDMasterGraduationPhDPhDPhDGraduationGraduationGraduationBasic2n CycleMasterMasterMaster2n CycleMaster2n CycleGraduationGraduationGraduationGraduationGraduation2n CycleMasterMasterGraduationGraduationPhD2n CycleGraduationGraduationGraduationMaster2n CycleGraduationPhDGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationPhDPhDMasterGraduationPhDMasterMasterGraduationMasterGraduation2n CyclePhDGraduationPhDPhDPhD2n CycleGraduationMasterPhD2n CycleGraduationMasterGraduationGraduationMasterPhDGraduationGraduationBasicGraduationPhDMasterPhDPhDPhDMasterMasterMasterPhDGraduationGraduationGraduationGraduationPhDPhDPhDGraduationGraduation2n CyclePhDPhDGraduationGraduationGraduationPhDGraduationPhDGraduationPhDMaster2n Cycle2n CycleGraduationGraduationPhDMasterGraduationGraduationGraduationGraduationGraduationPhDGraduationMasterPhDGraduationGraduationMasterGraduationGraduationGraduationGraduationMasterGraduationBasicGraduationGraduationGraduationMasterGraduationGraduation2n Cycle2n Cycle2n CycleGraduationGraduationPhDGraduation2n CycleGraduationGraduationGraduationMasterGraduationPhDMasterGraduationMasterBasicGraduationGraduationGraduationGraduation2n CycleMasterGraduationPhDMasterGraduationGraduationGraduationMasterGraduationPhDGraduationBasicBasicMasterGraduationGraduationMasterMasterMasterMasterGraduationGraduationGraduationGraduationGraduationMasterGraduationPhD2n Cycle2n CycleGraduationMasterGraduationGraduationMasterGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduationGraduation2n CycleGraduationGraduationGraduationGraduationMasterGraduationGraduationGraduationGraduationGraduationMasterMasterGraduationPhDPhDPhDGraduationGraduationPhDGraduation2n Cycle2n CycleGraduationMaster2n CyclePhDPhDGraduationGraduationGraduation2n CycleGraduationGraduationGraduationGraduationPhDPhDGraduationPhDGraduationGraduationGraduationPhDPhDGraduationMasterGraduation2n CyclePhDPhD2n CyclePhDPhDGraduationGraduationGraduation2n CycleGraduationPhDPhDPhDGraduationGraduationPhDPhDGraduationGraduationMasterGraduation2n CycleGraduationGraduationGraduationGraduationGraduationGraduation2n Cycle2n CycleGraduationGraduation2n CycleGraduationPhD2n CycleGraduationGraduationPhD' to numeric

#**Binomial Distribution**

In [40]:
from scipy.stats import binom

#Parameters
n = 10    # trials (e.g., number of lightbulbs)
p = 0.05  # probability of success (e.g., defect rate)
k = 2     # target successes

#Calculate Probability P(X = 2)
prob = binom.pmf(k, n, p)

#Calculate Expected Value (Mean)
mean, var = binom.stats(n, p, moments='mv')

print(f"Probability of exactly {k} defects: {prob:.4f}")
print(f"Expected number of defects: {mean}")

Probability of exactly 2 defects: 0.0746
Expected number of defects: 0.5

#**Normal Distribution**

In [41]:
from scipy.stats import norm

# Parameters
mu = 175    # Mean (e.g., average height in cm)
sigma = 7   # Standard Deviation
x = 189     # Target value

#Calculate Probability P(X > 189)
# norm.cdf(x, mu, sigma) gives P(X <= x)
prob_less_than = norm.cdf(x, mu, sigma)
prob_greater_than = 1 - prob_less_than

#Find Expected Value (Directly mu)
mean = norm.mean(loc=mu, scale=sigma)

print(f"Probability height is > {x}cm: {prob_greater_than:.4f}")
print(f"Expected value: {mean}cm")

Probability height is > 189cm: 0.0228
Expected value: 175.0cm